@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;800&display=swap");

/* Basic global reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --clr-Blue-600: hsl(234, 25%, 52%) ;
  --clr-Blue-900:hsl(233, 54%, 16%) ;
  --clr-Grey: hsl(232, 10%, 56%) ;
  --clr-Pink-600: hsl(341, 92%, 62%) ;
  --clr-Pink-300: hsl(341, 100%, 83%) ;
  --clr-White: hsl(0, 0%, 100%) ;
  /* GRADIENTS */
  --grad-Pink: linear-gradient(hsl(13, 100%, 64%),hsl(322,87%,55%)); 
  --grad-Purple: linear-gradient(to bottom,var(--clr-grad-B-P, var(--clr-grad-P-B))); 
  
   --clr-grad-B-P:hsl(237,100%,64%) ;
   --clr-grad-P-B: hsl(322,87%,55%) ;
}

html {
  /* font-size: 62.5%; */
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
}


/* HERO */
.btn{
  color: var(--clr-White);
  background: var(--clr-Blue-900);
  border: none;
  outline: none;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  border-radius: 40px;
}

.hero-desktop {
  display: none;
}

.hero-tablet {
  display: none;
}

.hero-mobile {
  width: 100%;
}

/* ACTION */

/* FOOTER */

/* MEDIA QUERIES */

/* RESET */

*, *::before, *::after{
  box-sizing: border-box; 
}

*{
  margin: 0; 
  padding: 0; 
}

ul[role='list'], ol[role='list']{
  list-style: none; 
}

html:focus-within{
  scroll-behavior: smooth; 
}

a:not([class]){
  text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
  max-width: 100%;
  height: auto;
}

img, picture, svg, video, canvas{
  vertical-align: middle; 
}

img, picture, svg, video, canvas{
  font-style: italic; 
}

img, picture, svg, video, canvas{
  background-repeat: no-repeat; 
  background-size: cover;
}

input, button, textarea, select{
  font: inherit; 
}

@media (prefers-reduced-motion: reduce){
  html:focus-within {
      scroll-behavior: auto;
  }
  *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
  }
}

body, html{
  height: 100%; 
  scroll-behavior: smooth; 
}