/* Basic global reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-image: linear-gradient(#ffffff, #83869a);
}



.header{}
.logo{}
.btn{}
.btn-dark{}
.hero{}
.hero-info{}
.hero-header{}
.hero-text{}
.hero-img-container{}
.hero-img{}
.courses{}
.course-banner{}
.course-banner-heading{}
.course{}
.course-image{}
.course-heading{}
.course-info{}
.course-link{}
.footer{}